#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 15px/24px 'opensans-semibold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* Portfolio Content */
#portfolio-wrapper { margin-bottom: 36px; }
.portfolio-item {
   display:inline-block;
   background: #fff;
   overflow: hidden;
   position: relative;
   box-shadow: 6px 6px 2px 1px rgba(86, 86, 87, 0.2);
   margin:5px;
   width:300px;
   height:200px;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay */

.portfolio-item .portfolio-item-meta { padding: 18px }
.portfolio-item .portfolio-item-meta h5 {
   font: 18px/21px 'opensans-bold', sans-serif;
   color: #000;
   text-align: center;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: #11ABB0;
   text-align: center;
}


